/* indie-flower-regular - latin */
@font-face {
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/fonts/indie-flower-v17-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../../assets/fonts/indie-flower-v17-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../../assets/fonts/indie-flower-v17-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../../assets/fonts/indie-flower-v17-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../../assets/fonts/indie-flower-v17-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../../assets/fonts/indie-flower-v17-latin-regular.svg#IndieFlower') format('svg');
    /* Legacy iOS */
}

.start-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/img/pexels-pixabay-279009.jpg');
    width: 100vw;
    height: 100vh;
    background-size: cover;

    .dimm-container {
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
    }

    .content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        z-index: 99;

        h1 {
            font-family: 'Indie Flower';
            font-size: 6rem;
            color: whitesmoke;
            text-transform: uppercase;
            text-shadow: 2px 2px 8px #000000;
            letter-spacing: 10px;

            @media (max-width: 752px) {
                font-size: 3rem;
            }

            @media (max-width: 430px) {
                font-size: 2.5rem;
            }
        }

        p {
            font-family: 'Indie Flower';
            font-size: 1.3rem;
            color: whitesmoke;
            margin-top: 1.5rem;
            text-shadow: 2px 2px 8px #000000;

            @media (max-width: 752px) {
                font-size: 1rem;
            }

            @media (max-width: 430px) {
                margin-top: 1rem;
            }
        }
    }

    .button-section {
        margin-top: 6rem;

        @media (max-width: 430px) {
            margin-top: 3rem;
        }

        @media (max-width: 430px) {
            display: flex;
            flex-direction: column;
        }

        button {
            width: 280px;
            height: 50px;
            background-color: #1f1f1f;
            color: #dbdbdb;
            font-family: 'Indie Flower';
            font-size: 1.3rem;
            border: 1px solid #dbdbdb;
            text-transform: uppercase;
            margin: 0rem 3rem;

            @media (max-width: 752px) {
                width: 180px;
                height: 50px;
                font-size: 1rem;
            }

            @media (max-width: 552px) {
                margin: 0rem 1rem;
            }

            @media (max-width: 430px) {
                margin: 1rem 1rem;
            }


            &:hover {
                background-color: #0b0b0b;
                cursor: pointer;
                border: 2px solid whitesmoke;
                color: whitesmoke;
            }
        }
    }
    .d-none {
        display: none !important;
    }

    .rules-dialog {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-image: url('../../assets/img/pexels-pixabay-279009.jpg');
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 99;
    }

    .rules-text-container {
        // background-color: rgba(0, 0, 0, 0.9);
        background-color: rgba(31, 31, 31, 0.9);
        max-width: 900px;
        min-height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        color: #dbdbdb;
        font-family: "Indie Flower";
        font-size: 1.5rem;
        line-height: 3rem;
        border: 1px solid #dbdbdb;
        position: relative;
        margin: 0rem 2rem;

        @media (max-width: 414px) {
            max-height: 600px;
            font-size: 1rem;
        }

        @media (max-width: 375px) {
            max-height: 450px;
            font-size: 1rem;
            line-height: 2rem
        }
    }

    .icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -65px;
        right: -25px;
        border-radius: 50%;
    }

    .close-icon {
        cursor: pointer;
    }
}