<h1 mat-dialog-title>Add new player</h1>
<div mat-dialog-content>
  
  <div class="share-container">
    <img class="share-icon" src="../../assets/img/share_icon.svg" alt="">
    <p>Share this Link with your friends:</p>
    <a href="#">Hier der aktuelle Link.</a>
  </div>

  <p>Please enter the name of a player</p>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="name">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [disabled]="name.length == 0" [mat-dialog-close]="name" cdkFocusInitial>Ok</button>
</div>
